* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #0B0F1A;
  color: white;
  
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #141A2A;
  color: white;
  
}

.search-area {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-btn {
  background: transparent;
  border: 1px solid #2979FF;
    color: #5393FF;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  border-radius: 20px;
  width: auto
}


.nav-btn:hover {
  background: #2979FF;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}


#search {
  width: 40%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  width: 850px;
}

.cart {
  font-size: 18px;
  color: #2979FF;
}

/* BANNER */
.banner {
  padding: 60px 20px;
  text-align: center;
  background: linear-gradient(120deg, #0B0F1A, #141A2A, #2979FF);
}

.banner-content h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px; /* Título maior e mais impactante */
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
  text-shadow: 0 0 20px rgba(41, 121, 255, 0.6);
}

.banner-content p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #C0C0C0;
  margin-bottom: 30px;


}

/* PRODUTOS */
.products {
  padding: 30px;
}

.products h2 {
  text-align: center;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product {
  background: #141A2A;
  color: rgb(228, 57, 208);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.price {
  color: #2979FF;
  font-weight: bold;
  margin: 10px 0;
}

button {
  background: #2979FF;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transition: all 0.3s ease;

}

p {
  color: #A0A0A0;
}

.product:hover {
  border: 1px solid #2979FF;
    background: #5393FF;
  transform: translateY(-5px);
  box-shadow: 0 0 10px #2979FF;
  

}

.cart-btn {
  background: #2979FF;
  color: white;
  border: none;

  width: 38px;       /* tamanho fixo */
  height: 38px;

  border-radius: 50%; /* formato redondo */
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  position: relative;

  transition: all 0.3s ease;
}

/* HOVER */
.cart-btn:hover {
  background: #5393FF;
  transform: scale(1.1);
}

/* CONTADOR (bolinha vermelha) */
.cart-btn span {
  position: absolute;
  top: -5px;
  right: -5px;

  background: red;
  color: white;

  font-size: 10px;
  font-weight: bold;

  padding: 2px 5px;
  border-radius: 50%;
  min-width: 16px;
  text-align: center;
}

@keyframes cartBounce {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.cart-btn.animate {
  animation: cartBounce 0.3s;

  
}

.logo img {
  height: 45px;
  transition: 0.3s;
  cursor: pointer;
}

.logo img:hover {
  transform: scale(1.05);
}

.bannerimg {
  width: 100%;
  max-width: 1100px;
  height: 450px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* =========================
   CARRINHO
========================= */

.titulo-carrinho {
  margin-bottom: 30px;
  font-size: 32px;
}

.carrinho-container {
  padding: 40px;
}

.carrinho-content {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

/* PRODUTOS */
.carrinho-itens {
  flex: 2;
}

.item {
  display: flex;
  gap: 20px;

  background: #141A2A;
  border-radius: 12px;

  padding: 20px;
  margin-bottom: 20px;

  transition: .3s;
}

.item:hover {
  border: 1px solid #2979FF;
  box-shadow: 0 0 10px rgba(41,121,255,.4);
}

.item img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.info {
  flex: 1;
}

.info h3 {
  color: rgb(228, 57, 208);
  margin-bottom: 10px;
}

.quantidade {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.quantidade button {
  width: 35px;
}

/* RESUMO */
.resumo {
  flex: 1;

  background: #141A2A;
  border-radius: 12px;

  padding: 25px;

  position: sticky;
  top: 20px;

  height: fit-content;
}

.resumo h2 {
  margin-bottom: 20px;
}

.resumo p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.resumo h3 {
  margin-top: 20px;
  color: #2979FF;
}

.finalizar {
  margin-top: 20px;

  background: linear-gradient(90deg,#2979FF,#8a2be2);

  padding: 15px;
  border-radius: 8px;

  font-weight: bold;
}
